<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App || About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <style>
        body {
            background: #a56078;
            text-align: center;
        }

        h1 {
            font-size: 2rem;
            color: #b88094;

        }

        p {
            font-size: 1.6rem;
        }
    </style>

    <body>
        <div className="content">
            <h1>Web Development Project Ideas 🌎💪</h1>
            <p>I'm a web developer i enjoy building everything from small business sites <br>
                to rice interactive web apps.Toeducate future leaders,who will create <br>
                solutions to make the world a better place.
            </p>
        </div>

    </body>
</body>

</html>